{% extends "demo/base.html" %}

{% block style %}

.basic {
    margin: 0px 15px 15px 0px;
}
.circle-div-p {
    padding: 4px 0px;
}
.p-r30-l225{
    /* padding-right: 120px; */
    /* padding-left: 135px; */
}

.left-side > div > input {
    width:50px;
    text-align: left;
}
.plus-circle{
    border: solid 1px;
    border-radius:50%;
    padding: 3px 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.plus-circle:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.minus-circle {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 0px 0px 15px;
    padding-top: 3px;
}

.minus-circle:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}
.right-side > div > input#cid {
    padding: 3px 0px;
    width: 140px;
    text-align: left;
}
.right-side > div > input#is_vip {
    height: 13px !important; 
    width: 20px;
    text-align: right;
}
table {
    font-family: arial, sans-serif;
    font-size: 13px;
    border-collapse: collapse;
    width: 100%;
}
thead>tr:first-child{
    background-color: #737373;
}
#order-table>thead>tr>th:last-child {
    background-color: white !important;
    border: 0px;
    width: 40px;
    padding: 0px; 
}
td, th {
    width: 40px;
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}
td:last-child {
    background-color: white !important;
    border: 0px;
    width: 40px;
    padding: 0px; 
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.minus-ico {
    display: block;
    width: 30px;
    height: 30px;
    background: url(https://www.flaticon.com/premium-icon/icons/svg/2617/2617260.svg);
    background-size: 30px 30px;
}
.analysis-section > .analysis-btn {
    border: 1px solid;
    border-radius: 30px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    outline: none;
    display: inline;
    margin: 0px 10px 0px 0px;
    
}
.analysis-section > .analysis-btn:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
input[disabled] {
    background-color: blue  !important;
    background: blue    !important;
    color: blue !important;
}

table > tbody > tr > td > input {
    height:12px;
}

{% endblock %}

{% block topsection %}
<div class="left-side">
    <div class="basic">
        <select id="product-names">
            <option Selected disabled value=0 >Select Product</option>
        </select>
    </div>
    <div class="basic">
        <input type="text" class="amount" id="amount" placeholder="數量" >
    </div>
    <div class="circle-div-p basic">
        <div class="plus-circle" onclick="AddOrder()" style="cursor: pointer;"> 
            +
        </div>
    </div>
</div>
<div class="right-side">
    <div >
        <input type="text" id="cid" placeholder="Customer ID" >
    </div>
    <div >
        <input type="checkbox" id="is_vip" >
        <label for="is_vip">是否為VIP身分</label>
    </div>
</div>
{% endblock %}

{% block productlistsection %}
<p>商品列表</p>
<table id="product-table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Stock pcs</th>
            <th>Price</th>
            <th>Shop_id</th>
            <th>Vip</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}

{% block orderlistsection %}
<p>訂單列表</p>
<table id="order-table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Product_id</th>
            <th>Qty</th>
            <th>Shop_id</th>
            <th>Customer</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}

{% block analysissection %}

<button class="analysis-btn" onclick="GetTop()">Top3</button>
<button class="analysis-btn" onclick="GenReport()">Manually Send</button>

{% endblock %}

